<footer id="footer">
  <p>&copy; To the Wilds Co. &amp; Contributors</p>
  <p>All work is licensed under the <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
</footer>
