<header id="header">
  <h1><a href="/">The Wanderer's Guide</a></h2>
  <h2>To the Wilds</h2>
  <p id="introduction">Notes regarding the creatures encountered, persons met and places explored while traversing <a href="http://www.rpgnow.com/product/156979/The-Perilous-Wilds" target="_blank">The Perilous Wilds</a>.</p>
</header>
